backend/app/__pycache__/main.cpython-38.pyc
backend/app/__pycache__/main.cpython-310.pyc
backend/app/core/model/__pycache__/__init__.cpython-38.pyc
backend/app/core/model/__pycache__/__init__.cpython-310.pyc
backend/app/core/model/__pycache__/article_item.cpython-38.pyc
backend/app/core/model/__pycache__/article_item.cpython-310.pyc
backend/app/core/model/__pycache__/email_item.cpython-38.pyc
backend/app/core/model/__pycache__/email_item.cpython-310.pyc
backend/app/core/model/__pycache__/para_item.cpython-38.pyc
backend/app/core/model/__pycache__/para_item.cpython-310.pyc
backend/app/core/model/__pycache__/subtitle_item.cpython-38.pyc
backend/app/core/model/__pycache__/subtitle_item.cpython-310.pyc
backend/app/core/model/__pycache__/summ_item.cpython-38.pyc
backend/app/core/model/__pycache__/summ_item.cpython-310.pyc
backend/app/core/model/__pycache__/trans_item.cpython-38.pyc
backend/app/core/model/__pycache__/trans_item.cpython-310.pyc
backend/app/core/schema/__pycache__/__init__.cpython-38.pyc
backend/app/core/schema/__pycache__/__init__.cpython-310.pyc
backend/app/core/schema/__pycache__/article_generator.cpython-38.pyc
backend/app/core/schema/__pycache__/article_generator.cpython-310.pyc
backend/app/core/schema/__pycache__/email_replyer.cpython-38.pyc
backend/app/core/schema/__pycache__/email_replyer.cpython-310.pyc
backend/app/core/schema/__pycache__/paraphraser.cpython-38.pyc
backend/app/core/schema/__pycache__/paraphraser.cpython-310.pyc
backend/app/core/schema/__pycache__/subtitle_generator.cpython-38.pyc
backend/app/core/schema/__pycache__/subtitle_generator.cpython-310.pyc
backend/app/core/schema/__pycache__/summarizer.cpython-38.pyc
backend/app/core/schema/__pycache__/summarizer.cpython-310.pyc
backend/app/core/schema/__pycache__/translator.cpython-38.pyc
backend/app/core/schema/__pycache__/translator.cpython-310.pyc
backend/app/route/__pycache__/api.cpython-38.pyc
backend/app/route/__pycache__/api.cpython-310.pyc
backend/app/core/schema/__pycache__/product_descriptor.cpython-38.pyc
backend/app/core/schema/__pycache__/product_descriptor.cpython-310.pyc
backend/app/core/model/__pycache__/product_item.cpython-38.pyc
backend/app/core/model/__pycache__/product_item.cpython-310.pyc
