body {
    line-height: 1;
    margin: 0;
  }

  .automargin {
    margin: auto;
  }

  .circleButton {
    padding:0.5em;
    border-radius:15px;

  }

  .circleTextInput {
    width: 80%;
    padding:0.5em;
    border-radius:15px;
  }

  .circleSelect {
    width: 80%;
    padding:0.5em;
    border-radius:15px;
    border-width: 2px
  }

  .circleTextarea {
    width: 97%;
    padding:0.5em;
    border-radius:15px;
    border-width: 2px
  }
  
  .container {
    width: 100%;
    margin: auto;
    padding-top: 0%;
    padding-bottom: 0%;
  }
  
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
  }
  
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 90%;
  }

  .tooltip .tooltiptextwide {
    visibility: hidden;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 90%;
  }
  
  .tooltip:hover .tooltiptext, .tooltip:hover .tooltiptextwide{
    visibility: visible;
  }


  span.tooltiptext table, span.tooltiptextwide table{
    border: 1px solid black;
    border-collapse:collapse;
    border-style: solid;
    border-color: white;
  }

  span.tooltiptext table tr, span.tooltiptextwide table tr{
    border: 1px solid black;
    border-collapse:collapse;
    border-style: solid;
    border-color: white;
  }

  span.tooltiptext table tr th, span.tooltiptextwide table tr th{
    border: 1px solid black;
    border-collapse:collapse;
    border-style: solid;
    border-color: white;
  }
  
  span.tooltiptext table tr td, span.tooltiptextwide table tr td{
    border: 1px solid black;
    border-collapse:collapse;
    border-style: solid;
    border-color: white;
  }
  
  div.box {
    text-align: center;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    margin: 2px;
    border-radius: 5px;
    padding: 36px 24px 40px 24px;
  }

  mark.red {
    color: red;
    background: none;
  }

  mark.green {
    color: rgb(0, 189, 0);
    background: none;
  }

  mark.blue {
    color: blue;
    background: none;
  }

  mark.yellow {
    color: yellow;
    background: none;
  }

  mark.medium{
    font-size:medium;
    color: black;
    background: none;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:rgb(197, 197, 197);
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(197, 197, 197);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(197, 197, 197);
  }
  
  * {
    box-sizing: border-box;
  }

  #topicTextarea{
    width: 80%;
    padding:0.5em;
    border-radius:15px;
    border-width: 2px
  }

